*.pfs
*.bak
*.cfs
*.bof
*.fek
*.out
*.m~
SimOutput.log
*.lock
*.sublime*
*.asv
*.str
*.png
*.rhs
*.mat
*.fig
*.efe
*.ffe
*.0
*.1
*.2
*.3
*.pre
*.dat
*.bof
*.bof
*.ffe
*.ffe
*.hfe
*.zip
*.vis
examples/cruise_missile/Cruise_missile.cfm
examples/cruise_missile/Cruise_missile.cfx
examples/cruise_missile/Cruise_missile_CSIR_v2_fine.cfm
examples/cruise_missile/Cruise_missile_CSIR_v2_fine.cfx
examples/cruise_missile/Cruise_missile_CSIR_v2_GO.cfx
examples/cruise_missile/Cruise_missile_CSIR_v2_MLFMM.cfx
examples/cruise_missile/Cruise_missile_MLFMM.cfm
examples/cruise_missile/Cruise_missile_MLFMM.cfx
examples/cruise_missile/Cruise_missile_no_gpu.cfm
examples/cruise_missile/Cruise_missile_no_gpu.cfx
examples/cruise_missile/makarov_test.pdf
examples/cruise_missile/Cruise_missile_new.cfm
examples/cruise_missile/Cruise_missile_new.cfx
examples/cruise_missile/Cruise_missile_bistatic.cfx
examples/cruise_missile/Cruise_missile_bistatic.cfm
examples/cruise_missile/Cruise_missile_new_SRPO.cfm
examples/cruise_missile/Cruise_missile_new_SRPO.cfx
examples/cruise_missile/Cruise_missile_MLFMM_bistatic.cfx
examples/cruise_missile/Cruise_missile_MLFMM_bistatic.cfm
